!!!
%html
  %head
    %title Payments
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'
    = stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css"
    = csrf_meta_tags
  %body
    %div.top_nav_bar
      %ul
        - if @user
          %li= @user.name
          %li= link_to "Companies", companies_path
          %li= link_to "Logout", logout_path
    - if flash[:success]
      %p{style: 'color:green' }= flash[:success]
    - if flash[:error]
      %p{style: 'color:red' }= flash[:error]
    = yield